html {
	font-family: sans-serif;
	background-color: #000000;
	color: #707070;
}

body {
	display: grid;

	margin: 0;
	border: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;

	grid-template-columns: 16em auto;
	grid-template-rows: 5em auto 9em;
	grid-template-areas:
		"header  header"
		"aside   main"
		"video   main";
}

header {
	background-color: #102010;
	grid-area: header;
}

aside.userlist {
	background-color: #201010;
	grid-area: aside;
}

aside.video {
	background-color: #202020;
	grid-area: video;
	overflow: hidden;
}

main {
	background-color: #101020;
	grid-area: main;
	overflow: hidden;
}

aside.userlist ul {
	list-style-type: none;
	padding: 0;
}

aside.userlist ul li::before {
	position: relative;
	top: -0.2em;
	font-size: 0.7em;
	content: '👤 ';
}

iframe {
	border: 0;
}